* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  font-family: "Ubuntu", sans-serif;
  background: #f4f4f4;
  min-width: 250px;
}

button {
  cursor: pointer;
}

.limitador {
  width: 100%;
  max-width: 1280px;
  margin: auto;
  padding: 0 2em;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  background-color: #003e8a;
  height: 74px;
  display: flex;
}

.conteudo-cabecalho {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.conteudo-cabecalho a {
  color: white;
  transition: .5s;
}

.conteudo-cabecalho a:hover {
  color: white;
  opacity: 0.8;
}

.conteudo-cabecalho a+a::before {
  margin: 0.5em;
  content: "•";
}

.cabecalho-logo img {
  width: 100%;
}

#botao-cabecalho {
  padding: 0.7em 2em;
  border-radius: 5px;
  border: none;
  background-color: #2e6cba;
  color: white;
  font-weight: bold;
}

.titulo-main {
  margin-top: 1em;
}

.review {
  background: #ffffff;
  padding: 1em;
  border-radius: 5px;
  display: flex;
}

.conteudo-main {
  margin: 1em 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
}

.review-title {
  margin-bottom: 10px;
}

.descricao-review {
  font-size: 0.8em;
  color: #666666;
}

.conteudo-review {
  margin-left: 10px;
}

.conteudo-review img {
  width: 1rem;
}

.footer-review {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.avalicacao-review {
  display: flex;
  align-items: center;
  padding-right: 2em;
}

.review-autor {
  font-size: 0.9em;
  color: #003e8a;
  font-weight: bold;
}

var {
  font-style: inherit;
}

.conteudo-footer {
  height: 35px;
  width: 100%;
  background-color: #003e8a;
  position: fixed;
  bottom: 0px;
  border-bottom: 8px solid #e84691;
}

.preenchimento-footer {
  padding-top: 50px;
}

.principal {
  margin-top: 3em;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.titulo-principal {
  width: 100%;
  margin: 1em;
  font-size: 2em;
}

#cadastro-review {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.linha-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 20px;
}

#cadastro-review input,
#cadastro-review select,
#cadastro-review textarea,
#cadastro-usuario input {
  border: 1px solid #e1e1e1;
  border-radius: 5px;
}

.linha-input input,
#cadastro-usuario input {
  padding: 0.8em 0 0.8em 0.7em;
  width: 100%;
}

.linha-input input::placeholder {
  color: #c0c0c0;
}

.linha-input select {
  margin-top: 1em;
  width: 100.6%;
  padding: 0.8em 0 0.8em 0.7em;
  width: 100%;
  color: #c0c0c0;
}

#descricao-text {
  width: -webkit-fill-available;
  margin-top: 1em;
  padding: 1em;
}

.botao-enviar {
  width: 100%;
  margin-top: 1.2em;
  padding: 0.8em;
  border: none;
  background-color: #2e6cba;
  color: white;
  border-radius: 5px;
  transition: .5s;
}

.botao-enviar:hover {
  opacity: 0.8;
}

.titulo-cadastro {
  font-size: 1.8em;
}

.principal-cadastro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 350px;
  height: 80vh;
  margin: auto;
}

.principal-cadastro p {
  padding-top: 1em;
}

#cadastro-usuario {
  margin-top: 2em;
  display: flex;
  flex-direction: column;
  width: 100%;
}

#cadastro-usuario input {
  width: auto;
}

#cadastro-usuario input+input {
  margin-top: 1em;
}

#nav {
  display: none;
}

@media (max-width: 960px) {
  .conteudo-main {
    display: block;
  }

  .review {
    margin-bottom: 2em;
  }

}

@media (max-width: 600px) {
  .cabecalho-nav {
    display: none;
  }

  .cabecalho-logo {
    margin: 0 auto;
    padding-right: .5em;
  }

  #menu {
    display: none;
    list-style: none;
  }

  #nav {
    display: block;
  }

  #menu a {
    display: block;
    padding: 1rem 0;
    border-top: 2px solid rgb(0, 0, 0, .05);
  }

  #nav.esconder #menu {
    display: block;

    background-color: #003e8a;
    position: absolute;
    top: 74px;
    left: 0px;
    padding-left: 2em;
    width: 100%;
    box-sizing: border-box;
    z-index: 100;
  }

  #botao-menu {
    display: flex;
    padding: .5em;
    border-radius: 5px;
    border: none;
    background-color: #2e6cba;
    color: white;
    font-weight: bold;
    transition: .5s;
    gap: .5rem;
  }

  #botao-menu:hover {
    opacity: 0.8;
  }

  #hamburguer {
    border-top: 2px solid;
    width: 20px;
  }

  #hamburguer::after,
  #hamburguer::before {
    content: '';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor;
    margin-top: 5px;
    transition: .5s;
    position: relative;
    align-items: center;
  }

  #nav.esconder #hamburguer {
    transform: rotate(135deg);
  }

  #nav.esconder #hamburguer::after {
    transform: rotate(-90deg);
    top: -7px;
  }

  #nav.esconder #hamburguer::before {
    width: 0;
    margin-bottom: -7px;
  }
}

@media (max-width: 551px) {
  .limitador {
    padding: 0 .5em;
  }

  .conteudo-main {
    padding-right: 2em;
  }

  .review {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .imagem-review {
    width: 100%;
    height: 50%;
  }
}